<article class="companies">
   <div class="companies__container _container">
      <div class="companies__title">
         As seen on the world's best magazines and media
      </div>
      <div class="companies__content">
         <div class="companies__item">
            <div class="icon-box">
               <img src="./images/sprite.svg#comp1" class="svg-comp1-dims" alt="comp1">
            </div>
         </div>
         <div class="companies__item">
            <div class="icon-box">
               <img src="./images/sprite.svg#comp2" class="svg-comp2-dims" alt="comp2">
            </div>
         </div>
         <div class="companies__item">
            <div class="icon-box">
               <img src="./images/sprite.svg#comp3" class="svg-comp3-dims" alt="comp3">
            </div>
         </div>
         <div class="companies__item">
            <div class="icon-box">
               <img src="./images/sprite.svg#comp4" class="svg-comp4-dims" alt="comp4">
            </div>
         </div>
         <div class="companies__item">
            <div class="icon-box">
               <img src="./images/sprite.svg#comp5" class="svg-comp5-dims" alt="comp5">
            </div>
         </div>
      </div>
   </div>
</article>