<article class="family">
   <div class="family__container _container">
      <div class="family__icon">
         <picture>
            <source type="image/avif" srcset="./images/family_restroom.avif" />
            <source type="image/webp" srcset="./images/family_restroom.webp" />
            <img class="image" src="./images/family_restroom.png">
         </picture>
      </div>
      <div class="family__title">Families are our priority</div>
      <div class="family__subtitle">Curabitur eget aliquam elit. In mauris purus, auctor a eleifend non, placerat vel
         arcu. In non consectetur lorem. Morbi non varius sapien suscipit mauri.</div>
      <button class="family__button">Get started</button>
   </div>
</article>