<article class="feedback">
   <div class="feedback__container _container">
      <div class="feedback__head">
         <div class="feedback__title">What customers say</div>
         <div class="feedback__subtitle">Faucibus orci luctus et ultrices posuere cubilia curae.</div>
      </div>
      <div class="feedback__grid">
         <div class="feedback__item">
            <div class="feedback__rate">
               <div class="icon-box">
                  <img src="./images/sprite.svg#star" class="svg-star-dims" alt="star">
               </div>
               <div class="icon-box">
                  <img src="./images/sprite.svg#star" class="svg-star-dims" alt="star">
               </div>
               <div class="icon-box">
                  <img src="./images/sprite.svg#star" class="svg-star-dims" alt="star">
               </div>
               <div class="icon-box">
                  <img src="./images/sprite.svg#star" class="svg-star-dims" alt="star">
               </div>
               <div class="icon-box">
                  <img src="./images/sprite.svg#star" class="svg-star-dims" alt="star">
               </div>
            </div>
            <div class="feedback__text">"Aliquam erat volutpat. Nulla pretium nec urna et convallis. Ut varius mi lacus,
               nec molestie libero ultricies nec. Aenean lacinia dui elit, ut gravida quam."</div>
            <div class="feedback__author">
               <div class="feedback__icon">
                  <picture>
                     <source type="image/avif" srcset="./images/feedback1.avif" />
                     <source type="image/webp" srcset="./images/feedback1.webp" />
                     <img class="image" src="./images/feedback1.png">
                  </picture>
               </div>
               <div class="feedback__authorAbout">
                  <div class="feedback__authorName">Michael Webb</div>
                  <div class="feedback__authorProf">Customer</div>
               </div>
            </div>
         </div>
         <div class="feedback__item">
            <div class="feedback__rate">
               <div class="icon-box">
                  <img src="./images/sprite.svg#star" class="svg-star-dims" alt="star">
               </div>
               <div class="icon-box">
                  <img src="./images/sprite.svg#star" class="svg-star-dims" alt="star">
               </div>
               <div class="icon-box">
                  <img src="./images/sprite.svg#star" class="svg-star-dims" alt="star">
               </div>
               <div class="icon-box">
                  <img src="./images/sprite.svg#star" class="svg-star-dims" alt="star">
               </div>
               <div class="icon-box">
                  <img src="./images/sprite.svg#star" class="svg-star-dims" alt="star">
               </div>
            </div>
            <div class="feedback__text">"Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
               inceptos himenaeos. Morbi pretium iaculis ultricies. Aenean in leo vitae tortor."</div>
            <div class="feedback__author">
               <div class="feedback__icon">
                  <picture>
                     <source type="image/avif" srcset="./images/feedback2.avif" />
                     <source type="image/webp" srcset="./images/feedback2.webp" />
                     <img class="image" src="./images/feedback2.png">
                  </picture>
               </div>
               <div class="feedback__authorAbout">
                  <div class="feedback__authorName">Amber Keene</div>
                  <div class="feedback__authorProf">Customer</div>
               </div>
            </div>
         </div>
         <div class="feedback__item">
            <div class="feedback__rate">
               <div class="icon-box">
                  <img src="./images/sprite.svg#star" class="svg-star-dims" alt="star">
               </div>
               <div class="icon-box">
                  <img src="./images/sprite.svg#star" class="svg-star-dims" alt="star">
               </div>
               <div class="icon-box">
                  <img src="./images/sprite.svg#star" class="svg-star-dims" alt="star">
               </div>
               <div class="icon-box">
                  <img src="./images/sprite.svg#star" class="svg-star-dims" alt="star">
               </div>
               <div class="icon-box">
                  <img src="./images/sprite.svg#star" class="svg-star-dims" alt="star">
               </div>
            </div>
            <div class="feedback__text">"Condimentum viverra orci. Pellentesque suscipit odio nisl, non ultricies purus
               mattis eget. In placerat, lorem a sodales ullamcorper, eros nibh laoreet nisl."</div>
            <div class="feedback__author">
               <div class="feedback__icon">
                  <picture>
                     <source type="image/avif" srcset="./images/feedback3.avif" />
                     <source type="image/webp" srcset="./images/feedback3.webp" />
                     <img class="image" src="./images/feedback3.png">
                  </picture>
               </div>
               <div class="feedback__authorAbout">
                  <div class="feedback__authorName">Sarah Tarleton</div>
                  <div class="feedback__authorProf">Customer</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</article>