<footer class="footer">
   <div class="footer__container _container">
      <div class="footer__content">
         <div class="footer__logo">
            <div class="header__logo"><span></span>
               <p>Realco</p>
            </div>
         </div>
         <div class="footer__grid">
            <div class="footer__item">
               <a href="" class="footer__itemTitle">Pages</a>
               <div class="footer__itemList">
                  <a href="">Home</a>
                  <a href="">About</a>
                  <a href="">Blog</a>
                  <a href="">Agents</a>
                  <a href="">Contacts</a>
                  <a href="">FAQs</a>
                  <a href="">Properties</a>
               </div>
            </div>
            <div class="footer__item">
               <a href="" class="footer__itemTitle">CMS Pages</a>
               <div class="footer__itemList">
                  <a href="">Property</a>
                  <a href="">Property Single</a>
                  <a href="">Blog Categories</a>
                  <a href="">Blog Single</a>
                  <a href="">Agent Single</a>
               </div>
            </div>
            <div class="footer__item">
               <a href="" class="footer__itemTitle">Utility Pages</a>
               <div class="footer__itemList">
                  <a href="">Style Guide</a>
                  <a href="">Changelog</a>
                  <a href="">Licenses</a>
                  <a href="">404</a>
                  <a href="">Password</a>
                  <a href="">Search</a>
               </div>
            </div>
         </div>
         <div class="footer__form">
            <div class="footer__formTitle">Subscribe</div>
            <div class="footer__formAbout">Join our newsletter to stay up to date on features and releases.</div>
            <div class="footer__formInputs">
               <input placeholder="Enter your email" type="text" class="footer__formInput">
               <button class="footer__formButton">Subscribe</button>
            </div>
            <div class="footer__formSubs">By subscribing you agree to with our <a href="">Privacy Policy</a></div>
         </div>
      </div>
   </div>
   <div class="footer__bottom">
      <div class="footer__bottoomContainer _container">
         <div class="footer__copyright">
            © Realco by <a href="">Minimal Square</a>
         </div>
         <div class="footer__socials">
            <div class="icon-box">
               <img src="./images/sprite.svg#facebook" class="svg-facebook-dims" alt="facebook">
            </div>
            <div class="icon-box">
               <img src="./images/sprite.svg#instagram" class="svg-instagram-dims" alt="instagram">
            </div>
            <div class="icon-box">
               <img src="./images/sprite.svg#twitter" class="svg-twitter-dims" alt="twitter">
            </div>
            <div class="icon-box">
               <img src="./images/sprite.svg#something" class="svg-something-dims" alt="something">
            </div>
         </div>
      </div>
   </div>
</footer>
<script src="./js/dist/main.min.js"></script>

</html>