<header class="header">
   <div class="header__container _container">
      <div class="header__logo"><span></span>
         <p>Realco</p>
      </div>
      <div class="header__content">
         <nav class="header__nav">
            <a href="" class="header__link">Home</a>
            <a href="" class="header__link">Properties</a>
            <a href="" class="header__link">About</a>
            <a href="" class="header__link">Contact</a>
         </nav>
         <div class="header__buttons">
            <button class="header__button header__search">
               <picture>
                  <source type="image/avif" srcset="./images/search.avif" />
                  <source type="image/webp" srcset="./images/search.webp" />
                  <img class="image" src="./images/search.png">
               </picture>
               <p>Search</p>
            </button>
            <button class="header__button header__cart">
               <picture>
                  <source type="image/avif" srcset="./images/shopping_bag.avif" />
                  <source type="image/webp" srcset="./images/shopping_bag.webp" />
                  <img class="image" src="./images/shopping_bag.png">
               </picture>
               <p>Cart</p>
            </button>
            <button class="header__button header__find">Find a property</button>
         </div>
      </div>
   </div>
</header>