<article class="houses">
   <div class="houses__container _container">
      <div class="houses__head">
         <div class="houses__tag">Properties</div>
         <div class="houses__title">Houses in your favorite area</div>
      </div>
      <div class="houses__grid">
         <div class="houses__item">
            <div class="houses__itemBg" style="--bg:url(../images/houses1.avif)"></div>
            <div class="houses__itemContent">
               <div class="houses__itemTitle">Cozy studio in Los Angeles</div>
               <div class="houses__itemPrice">$ 1,200.00 USD</div>
               <div class="houses__itemAddress">2263 Southlea, Los Angeles</div>
               <div class="houses__itemParameters">
                  <div class="houses__itemBathtub">
                     <picture>
                        <source type="image/avif" srcset="./images/bathtub.avif" />
                        <source type="image/webp" srcset="./images/bathtub.webp" />
                        <img class="image" src="./images/bathtub.png">
                     </picture>
                     <p>2</p>
                  </div>
                  <div class="houses__itemBeds">
                     <picture>
                        <source type="image/avif" srcset="./images/bed.avif" />
                        <source type="image/webp" srcset="./images/bed.webp" />
                        <img class="image" src="./images/bed.png">
                     </picture>
                     <p>2</p>
                  </div>
                  <div class="houses__itemSquare">
                     <picture>
                        <source type="image/avif" srcset="./images/square_foot.avif" />
                        <source type="image/webp" srcset="./images/square_foot.webp" />
                        <img class="image" src="./images/square_foot.png">
                     </picture>
                     <p>840 sqft</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="houses__item">
            <div class="houses__itemBg" style="--bg:url(../images/houses1.avif)"></div>
            <div class="houses__itemContent">
               <div class="houses__itemTitle">Cozy studio in Los Angeles</div>
               <div class="houses__itemPrice">$ 1,200.00 USD</div>
               <div class="houses__itemAddress">2263 Southlea, Los Angeles</div>
               <div class="houses__itemParameters">
                  <div class="houses__itemBathtub">
                     <picture>
                        <source type="image/avif" srcset="./images/bathtub.avif" />
                        <source type="image/webp" srcset="./images/bathtub.webp" />
                        <img class="image" src="./images/bathtub.png">
                     </picture>
                     <p>2</p>
                  </div>
                  <div class="houses__itemBeds">
                     <picture>
                        <source type="image/avif" srcset="./images/bed.avif" />
                        <source type="image/webp" srcset="./images/bed.webp" />
                        <img class="image" src="./images/bed.png">
                     </picture>
                     <p>2</p>
                  </div>
                  <div class="houses__itemSquare">
                     <picture>
                        <source type="image/avif" srcset="./images/square_foot.avif" />
                        <source type="image/webp" srcset="./images/square_foot.webp" />
                        <img class="image" src="./images/square_foot.png">
                     </picture>
                     <p>840 sqft</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="houses__item">
            <div class="houses__itemBg" style="--bg:url(../images/houses1.avif)"></div>
            <div class="houses__itemContent">
               <div class="houses__itemTitle">Cozy studio in Los Angeles</div>
               <div class="houses__itemPrice">$ 1,200.00 USD</div>
               <div class="houses__itemAddress">2263 Southlea, Los Angeles</div>
               <div class="houses__itemParameters">
                  <div class="houses__itemBathtub">
                     <picture>
                        <source type="image/avif" srcset="./images/bathtub.avif" />
                        <source type="image/webp" srcset="./images/bathtub.webp" />
                        <img class="image" src="./images/bathtub.png">
                     </picture>
                     <p>2</p>
                  </div>
                  <div class="houses__itemBeds">
                     <picture>
                        <source type="image/avif" srcset="./images/bed.avif" />
                        <source type="image/webp" srcset="./images/bed.webp" />
                        <img class="image" src="./images/bed.png">
                     </picture>
                     <p>2</p>
                  </div>
                  <div class="houses__itemSquare">
                     <picture>
                        <source type="image/avif" srcset="./images/square_foot.avif" />
                        <source type="image/webp" srcset="./images/square_foot.webp" />
                        <img class="image" src="./images/square_foot.png">
                     </picture>
                     <p>840 sqft</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="houses__item">
            <div class="houses__itemBg" style="--bg:url(../images/houses1.avif)"></div>
            <div class="houses__itemContent">
               <div class="houses__itemTitle">Cozy studio in Los Angeles</div>
               <div class="houses__itemPrice">$ 1,200.00 USD</div>
               <div class="houses__itemAddress">2263 Southlea, Los Angeles</div>
               <div class="houses__itemParameters">
                  <div class="houses__itemBathtub">
                     <picture>
                        <source type="image/avif" srcset="./images/bathtub.avif" />
                        <source type="image/webp" srcset="./images/bathtub.webp" />
                        <img class="image" src="./images/bathtub.png">
                     </picture>
                     <p>2</p>
                  </div>
                  <div class="houses__itemBeds">
                     <picture>
                        <source type="image/avif" srcset="./images/bed.avif" />
                        <source type="image/webp" srcset="./images/bed.webp" />
                        <img class="image" src="./images/bed.png">
                     </picture>
                     <p>2</p>
                  </div>
                  <div class="houses__itemSquare">
                     <picture>
                        <source type="image/avif" srcset="./images/square_foot.avif" />
                        <source type="image/webp" srcset="./images/square_foot.webp" />
                        <img class="image" src="./images/square_foot.png">
                     </picture>
                     <p>840 sqft</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="houses__item">
            <div class="houses__itemBg" style="--bg:url(../images/houses1.avif)"></div>
            <div class="houses__itemContent">
               <div class="houses__itemTitle">Cozy studio in Los Angeles</div>
               <div class="houses__itemPrice">$ 1,200.00 USD</div>
               <div class="houses__itemAddress">2263 Southlea, Los Angeles</div>
               <div class="houses__itemParameters">
                  <div class="houses__itemBathtub">
                     <picture>
                        <source type="image/avif" srcset="./images/bathtub.avif" />
                        <source type="image/webp" srcset="./images/bathtub.webp" />
                        <img class="image" src="./images/bathtub.png">
                     </picture>
                     <p>2</p>
                  </div>
                  <div class="houses__itemBeds">
                     <picture>
                        <source type="image/avif" srcset="./images/bed.avif" />
                        <source type="image/webp" srcset="./images/bed.webp" />
                        <img class="image" src="./images/bed.png">
                     </picture>
                     <p>2</p>
                  </div>
                  <div class="houses__itemSquare">
                     <picture>
                        <source type="image/avif" srcset="./images/square_foot.avif" />
                        <source type="image/webp" srcset="./images/square_foot.webp" />
                        <img class="image" src="./images/square_foot.png">
                     </picture>
                     <p>840 sqft</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="houses__item">
            <div class="houses__itemBg" style="--bg:url(../images/houses1.avif)"></div>
            <div class="houses__itemContent">
               <div class="houses__itemTitle">Cozy studio in Los Angeles</div>
               <div class="houses__itemPrice">$ 1,200.00 USD</div>
               <div class="houses__itemAddress">2263 Southlea, Los Angeles</div>
               <div class="houses__itemParameters">
                  <div class="houses__itemBathtub">
                     <picture>
                        <source type="image/avif" srcset="./images/bathtub.avif" />
                        <source type="image/webp" srcset="./images/bathtub.webp" />
                        <img class="image" src="./images/bathtub.png">
                     </picture>
                     <p>2</p>
                  </div>
                  <div class="houses__itemBeds">
                     <picture>
                        <source type="image/avif" srcset="./images/bed.avif" />
                        <source type="image/webp" srcset="./images/bed.webp" />
                        <img class="image" src="./images/bed.png">
                     </picture>
                     <p>2</p>
                  </div>
                  <div class="houses__itemSquare">
                     <picture>
                        <source type="image/avif" srcset="./images/square_foot.avif" />
                        <source type="image/webp" srcset="./images/square_foot.webp" />
                        <img class="image" src="./images/square_foot.png">
                     </picture>
                     <p>840 sqft</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="houses__buttons">
         <div class="offers__itemButtons">
            <a href="" class="offers__itemExplore">Explore properties</a>
            <a href="" class="offers__itemContact">
               <p>Contact agent</p>
               <picture>
                  <source type="image/avif" srcset="./images/right.avif" />
                  <source type="image/webp" srcset="./images/right.webp" />
                  <img class="image" src="./images/right.png">
               </picture>
            </a>
         </div>
      </div>
   </div>
   <div class="houses__cornerOne">
      <div class="icon-box">
         <img src="./images/sprite.svg#main-corners" class="svg-main-corners-dims" alt="main-corners">
      </div>
   </div>
   <div class="houses__cornerTwo">
      <div class="icon-box">
         <img src="./images/sprite.svg#main-corners" class="svg-main-corners-dims" alt="main-corners">
      </div>
   </div>
</article>