<article class="how">
   <div class="how__container _container">
      <div class="how__title">How it works</div>
      <div class="how__subtitle">Nunc laoreet consequat nunc at consequat. Praesent aliquam mi id efficitur
         pellentesque. Maecenas varius felis felis.</div>
      <div class="how__grid">
         <div class="how__item">
            <div class="how__icon">
               <picture>
                  <source type="image/avif" srcset="./images/house.avif" />
                  <source type="image/webp" srcset="./images/house.webp" />
                  <img class="image" src="./images/house.png">
               </picture>
            </div>
            <div class="how__itemTitle">Find property</div>
            <div class="how__itemAbout">Odales mauris quis tellus facilisis, vel mattis magna interdum. Curabitur eget
               aliquam elit. In mauris purus, auctor a eleifend non.</div>
         </div>
         <div class="how__item">
            <div class="how__icon">
               <picture>
                  <source type="image/avif" srcset="./images/receipt.avif" />
                  <source type="image/webp" srcset="./images/receipt.webp" />
                  <img class="image" src="./images/receipt.png">
               </picture>
            </div>
            <div class="how__itemTitle">Make a deal</div>
            <div class="how__itemAbout">Pellentesque suscipit mauris. Nam dictum, erat a volutpat varius, urna nisi
               sollicitudin orci, sagittis facilisis odio tortor ac mi.</div>
         </div>
         <div class="how__item">
            <div class="how__icon">
               <picture>
                  <source type="image/avif" srcset="./images/key.avif" />
                  <source type="image/webp" srcset="./images/key.webp" />
                  <img class="image" src="./images/key.png">
               </picture>
            </div>
            <div class="how__itemTitle">Get your keys</div>
            <div class="how__itemAbout">Nulla vel bibendum purus. Etiam tempus quam vel pulvinar rutrum. Duis semper,
               metus vitae fermentum consequat.</div>
         </div>
      </div>
   </div>
</article>