<article class="locations">
   <div class="locations__container _container">
      <div class="locations__head">
         <div class="locations__title">Locations</div>
         <div class="locations__subtitle">Nunc mi ante, fringilla eget iaculis et, maximus vel purus integer lacus urna,
            aliquet non nisl sit amet.</div>
      </div>
      <div class="locations__grid">
         <div class="locations__item">
            <div class="locations__itemTitle">San Francisco, CA</div>
            <a href="" class="locations__itemButton">
               <p>View Properties</p>
               <picture>
                  <source type="image/avif" srcset="./images/right.avif" />
                  <source type="image/webp" srcset="./images/right.webp" />
                  <img class="image" src="./images/right.png">
               </picture>
            </a>
         </div>
         <div class="locations__item">
            <div class="locations__itemTitle">San Francisco, CA</div>
            <a href="" class="locations__itemButton">
               <p>View Properties</p>
               <picture>
                  <source type="image/avif" srcset="./images/right.avif" />
                  <source type="image/webp" srcset="./images/right.webp" />
                  <img class="image" src="./images/right.png">
               </picture>
            </a>
         </div>
         <div class="locations__item">
            <div class="locations__itemTitle">San Francisco, CA</div>
            <a href="" class="locations__itemButton">
               <p>View Properties</p>
               <picture>
                  <source type="image/avif" srcset="./images/right.avif" />
                  <source type="image/webp" srcset="./images/right.webp" />
                  <img class="image" src="./images/right.png">
               </picture>
            </a>
         </div>
         <div class="locations__item">
            <div class="locations__itemTitle">San Francisco, CA</div>
            <a href="" class="locations__itemButton">
               <p>View Properties</p>
               <picture>
                  <source type="image/avif" srcset="./images/right.avif" />
                  <source type="image/webp" srcset="./images/right.webp" />
                  <img class="image" src="./images/right.png">
               </picture>
            </a>
         </div>
         <div class="locations__item">
            <div class="locations__itemTitle">San Francisco, CA</div>
            <a href="" class="locations__itemButton">
               <p>View Properties</p>
               <picture>
                  <source type="image/avif" srcset="./images/right.avif" />
                  <source type="image/webp" srcset="./images/right.webp" />
                  <img class="image" src="./images/right.png">
               </picture>
            </a>
         </div>
         <div class="locations__item">
            <div class="locations__itemTitle">San Francisco, CA</div>
            <a href="" class="locations__itemButton">
               <p>View Properties</p>
               <picture>
                  <source type="image/avif" srcset="./images/right.avif" />
                  <source type="image/webp" srcset="./images/right.webp" />
                  <img class="image" src="./images/right.png">
               </picture>
            </a>
         </div>
      </div>
      <div class="locations__buttons">
         <div class="offers__itemButtons">
            <a href="" class="offers__itemExplore">Explore properties</a>
            <a href="" class="offers__itemContact">
               <p>Contact agent</p>
               <picture>
                  <source type="image/avif" srcset="./images/right.avif" />
                  <source type="image/webp" srcset="./images/right.webp" />
                  <img class="image" src="./images/right.png">
               </picture>
            </a>
         </div>
      </div>
   </div>
</article>