<article class="main">
   <div class="main__container _container">
      <div class="main__content">
         <div class="main__tag">Find your dream place</div>
         <div class="main__title">Find house for your family in minutes</div>
         <div class="main__subtitle">Aenean sodales mauris quis tellus facilisis, vel mattis magna. Interdum
            curabitur
            eget aliquam elit in mauris purus.</div>
         <div class="main__search">
            <div class="main__searchBox">
               <div class="main__searchIco">
                  <picture>
                     <source type="image/avif" srcset="./images/search.avif" />
                     <source type="image/webp" srcset="./images/search.webp" />
                     <img class="image" src="./images/search.png">
                  </picture>
               </div>
               <input type="text" placeholder="Search" class="main__searchInput">
            </div>
            <button class="main__button">Find property</button>
         </div>
      </div>
   </div>
   <div class="main__bgRight" style="--bg:url(../images/main-bg.avif)"></div>
   <div class="main__bgLeft">
      <div class="main__cornerOne">
         <div class="icon-box">
            <img src="./images/sprite.svg#main-corners" class="svg-main-corners-dims" alt="main-corners">
         </div>
      </div>
      <div class="main__cornerTwo">
         <div class="icon-box">
            <img src="./images/sprite.svg#main-corners" class="svg-main-corners-dims" alt="main-corners">
         </div>
      </div>
   </div>
   </div>
</article>