<article class="offers">
   <div class="offers__container _container">
      <div class="offers__item">
         <div class="offers__itemContent">
            <div class="offers__itemTag">Comfort first</div>
            <div class="offers__itemTitle">The best houses for family comfort</div>
            <div class="offers__itemSubtitle">Ectus ipsum faucibus justo, et semper quam nisl in nibh. Proin
               sollicitudin, lorem non posuere blandit.</div>
            <div class="offers__itemButtons">
               <a href="" class="offers__itemExplore">Explore properties</a>
               <a href="" class="offers__itemContact">
                  <p>Contact agent</p>
                  <picture>
                     <source type="image/avif" srcset="./images/right.avif" />
                     <source type="image/webp" srcset="./images/right.webp" />
                     <img class="image" src="./images/right.png">
                  </picture>
               </a>
            </div>
         </div>
         <div class="offers__itemImg">
            <picture>
               <source type="image/avif" srcset="./images/offers1.avif" />
               <source type="image/webp" srcset="./images/offers1.webp" />
               <img class="image" src="./images/offers1.png">
            </picture>
         </div>
      </div>
      <div class="offers__item">
         <div class="offers__itemContent">
            <div class="offers__itemTag">Quick and easy</div>
            <div class="offers__itemTitle">Fast forward process</div>
            <div class="offers__itemSubtitle">Ut vitae nisi eu nisi maximus condimentum ac id purus. Duis sit amet mi
               arcu praesent nec felis nisl.</div>
            <div class="offers__itemGrid">
               <div class="offers__itemAdv">
                  <div class="offers__advIcon">
                     <picture>
                        <source type="image/avif" srcset="./images/payments.avif" />
                        <source type="image/webp" srcset="./images/payments.webp" />
                        <img class="image" src="./images/payments.png">
                     </picture>
                  </div>
                  <div class="offers__advTitle">Affordable prices</div>
                  <div class="offers__advSubtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                     varius enim in eros.</div>
               </div>
               <div class="offers__itemAdv">
                  <div class="offers__advIcon">
                     <picture>
                        <source type="image/avif" srcset="./images/description.avif" />
                        <source type="image/webp" srcset="./images/description.webp" />
                        <img class="image" src="./images/description.png">
                     </picture>
                  </div>
                  <div class="offers__advTitle">Less paper work</div>
                  <div class="offers__advSubtitle">Curabitur porta luctus semper donec eget lobortis leo ac finibus
                     nisi.</div>
               </div>
            </div>
            <div class="offers__itemButtons">
               <a href="" class="offers__itemExplore">Explore properties</a>
               <a href="" class="offers__itemContact">
                  <p>Contact agent</p>
                  <picture>
                     <source type="image/avif" srcset="./images/right.avif" />
                     <source type="image/webp" srcset="./images/right.webp" />
                     <img class="image" src="./images/right.png">
                  </picture>
               </a>
            </div>
         </div>
         <div class="offers__itemImg">
            <picture>
               <source type="image/avif" srcset="./images/offers2.avif" />
               <source type="image/webp" srcset="./images/offers2.webp" />
               <img class="image" src="./images/offers2.png">
            </picture>
         </div>
      </div>
   </div>
</article>