<article class="posts">
   <div class="posts__container _container">
      <div class="posts__head">
         <div class="posts__tag">Blog</div>
         <div class="posts__title">Latest posts</div>
         <div class="posts__subtitle">
            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae. Praesent
               efficitur nibh massa morbi sagittis ornare dui in ornare.</p>
            <button>View all</button>
         </div>
      </div>
      <div class="posts__content">
         <div class="posts__item">
            <div class="posts__itemBg" style="--bg:url(../images/posts1.avif)"></div>
            <div class="posts__itemContent">
               <div class="posts__itemHead">
                  <div class="posts__itemTag">Trends</div>
                  <div class="posts__itemDate">May 10, 2022</div>
               </div>
               <div class="posts__itemTitle">The 9 best homes in New York</div>
               <div class="posts__itemAbout">Integer tincidunt rutrum faucibus. Proin sit amet varius arcu. Aliquam vel
                  leo augue donec.</div>
               <button class="posts__itemButton">
                  <p>Read more</p>
                  <picture>
                     <source type="image/avif" srcset="./images/right.avif" />
                     <source type="image/webp" srcset="./images/right.webp" />
                     <img class="image" src="./images/right.png">
                  </picture>
               </button>
            </div>
         </div>
         <div class="posts__item">
            <div class="posts__itemBg" style="--bg:url(../images/posts1.avif)"></div>
            <div class="posts__itemContent">
               <div class="posts__itemHead">
                  <div class="posts__itemTag">Trends</div>
                  <div class="posts__itemDate">May 10, 2022</div>
               </div>
               <div class="posts__itemTitle">The 9 best homes in New York</div>
               <div class="posts__itemAbout">Integer tincidunt rutrum faucibus. Proin sit amet varius arcu. Aliquam vel
                  leo augue donec.</div>
               <button class="posts__itemButton">
                  <p>Read more</p>
                  <picture>
                     <source type="image/avif" srcset="./images/right.avif" />
                     <source type="image/webp" srcset="./images/right.webp" />
                     <img class="image" src="./images/right.png">
                  </picture>
               </button>
            </div>
         </div>
         <div class="posts__item">
            <div class="posts__itemBg" style="--bg:url(../images/posts1.avif)"></div>
            <div class="posts__itemContent">
               <div class="posts__itemHead">
                  <div class="posts__itemTag">Trends</div>
                  <div class="posts__itemDate">May 10, 2022</div>
               </div>
               <div class="posts__itemTitle">The 9 best homes in New York</div>
               <div class="posts__itemAbout">Integer tincidunt rutrum faucibus. Proin sit amet varius arcu. Aliquam vel
                  leo augue donec.</div>
               <button class="posts__itemButton">
                  <p>Read more</p>
                  <picture>
                     <source type="image/avif" srcset="./images/right.avif" />
                     <source type="image/webp" srcset="./images/right.webp" />
                     <img class="image" src="./images/right.png">
                  </picture>
               </button>
            </div>
         </div>
      </div>
   </div>
</article>